.div {
  display: flex;
  flex-direction: row;
  gap: 72px;
  padding-top: 84px;
}
.image {
  border-radius: 19px;
  width: 640px;
  height: 512px;
  margin-bottom: 40px;
}

.rentalForm {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 32px;
  width: 640px;
  height: auto;
  text-align: start;

}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #101828;
  margin-bottom: 8px;
}
.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #8d929a;
  margin-bottom: 24px;
}
.input {
  border-radius: 12px;
  border: none;
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  background-color: #f7f7f7;
  margin-bottom: 16px;
}
.textarea {
  border-radius: 12px;
  padding: 12px 20px 56px 20px;
  width: 576px;
  height: 88px;
  background-color: #f7f7f7;
  border: none;
  margin-bottom: 24px;
  resize: none;
}
.button {
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background-color: #3470ff;
  display: block;
  margin: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #fff;

}
.button:hover {
  background-color: #0b44cd;
}
.model {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #101828;
  text-align: start;
  margin-right: 16px;
}
.id {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #8d929a;
}
.idTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.imgGroup {
  margin-top: 8px;
  width: 16px;
  height: 16px;
  color: #101828;
}
.info {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 125%;
color:  #101828;
}
.mileage {
  margin-left: 16px;
}
.price {
text-align: start;
font-weight: 600;
font-size: 24px;
line-height: 133%;
color:  #3470ff;
margin-bottom: 32px;
}
.text {
font-weight: 500;
font-size: 16px;
line-height: 125%;
color: #101828;
width: 100%;
text-align: justify; 
margin-bottom: 68px;
}
.titleDetail {
font-weight: 600;
font-size: 20px;
line-height: 120%;
color: #101828;
text-align: start;
margin-bottom: 20px;
}
.list {
display: flex;
gap: 16px;
font-weight: 500;
font-size: 16px;
line-height: 125%;
color: #101828;
margin-bottom: 16px;
}
.icons {
width: 16px;
height: 16px;
}
.detailsCar {
margin-bottom: 94px;
}
.detailsSpecification {
margin-bottom: 94px;
}