.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.header {
border-bottom: 1px solid  #f2f4f7;
padding: 24px 120px;
max-width: 100%;
height: 68px;
background-color:  #f2f4f7;
margin-bottom: 4px;
  width: 100vw; /* 100% від ширини вікна браузера */
  position: relative; /* або fixed, якщо треба */
  left: 0;
  top: 0;
}